name: Dev CI

on:
  push:
    branches: [ dev ]

jobs:
  test-and-publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Scala and Java
        uses: coursier/setup-action@v1
        with:
          jvm: temurin:1.11
      - name: Start Postgres
        run: sh ./scripts/launch-postgres.sh
      - name: Run tests
        run: sbt +test
      - uses: olafurpg/setup-gpg@v3
      - name: Publish ${{ github.ref }}
        run: sbt ci-release
        env:
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
